<div>
  <h3 class="text-heading px-9 pb-9">the dynamic muffin</h3>
  <swiper-gallery data-gap="32px" class="overflow-x-hidden *:!px-[12px]">
    {% for block in section.blocks %}
      <div class="w-[30vw] swiper-slide border-gray-200 rounded-lg overflow-hidden flex flex-col  h-[512px] ">
        {% if block.settings.image %}
          <img
            src="{{ block.settings.image | img_url: 'medium' }}"
            alt="{{ block.settings.caption | escape }}"
            class="dotted rounded"
          >
          <div>
            {% if block.settings.caption %}
              <p class="text-sm text-gray-600 mt-2">{{ block.settings.caption }}</p>
            {% endif %}
            {% if block.settings.username and block.settings.username_link %}
              <a
                href="{{ block.settings.username_link }}"
              >
                {{ block.settings.username }}
              </a>
            {% endif %}
          </div>
        {% endif %}
      </div>
    {% endfor %}
  </swiper-gallery>
</div>

{% schema %}
{
  "name": "UGC",
  "settings": [],
  "blocks": [
    {
      "type": "image",
      "name": "Image",
      "settings": [
        {
          "type": "image_picker",
          "id": "image",
          "label": "Post"
        },
        {
          "type": "text",
          "id": "caption",
          "label": "Caption"
        },
        {
          "type": "text",
          "id": "username",
          "label": "Username"
        },
        {
          "type": "url",
          "id": "username_link",
          "label": "Username Link"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "UGC",
      "category": "Custom"
    }
  ]
}
{% endschema %}
